.containerForSpinner{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--color-black-black-two);
}

.spinner {
  width: 40px;
  height: 40px;
  border: 4px solid var(--neutral-lighter);
  border-top: 4px solid var(--accent-color);
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

.spinnerText {
  color: var(--text-placeholder);
  font-size: 16px;
  margin-top: 10px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}