@import url('https://fonts.googleapis.com/css2?family=Circe&display=swap');

$primary-color: #00c4b4;
$background-color: #1F1F1F;
$text-color: #ffffff;
$form-color: #444444;
$links-color: #6DE8CA;

.signup-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $background-color;
  color: $text-color;
  position: relative;
  width: 1440px; 
  margin: 0 auto; 
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding-top: 130px; /* Форма ниже картинки на 130px */
}

.image-container {
  position: absolute;
  top: 0; /* Картинка начинается сверху */
  left: 50%; /* Центрируем картинку */
  transform: translateX(-50%); /* Сдвигаем на половину ширины */
  width: 605px;
  height: 819px;
  z-index: 1;
  border-radius: 30px;
  overflow: hidden;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.signup-form {
  width: 500px;
  min-height: 559px;
  padding: 30px;
  background-color: rgba(42, 42, 42, 0.8);
  z-index: 2;
  border-radius: 10px;
  margin-left: -18px; /* (605px / 2) - (500px / 2) + 92px наложения = -302.5 + 92 = -208px */
  position: relative;

  small {
    display: block;
    font-size: 12px;
    color: #ccc;
    margin-bottom: 20px;
  }

  p {
    text-align: center;
    color: #ccc;
    font-size: 14px;
    margin-bottom: 20px;
  }

  div {
    margin-bottom: 15px;
    &.input-group {
      display: flex;
      flex-direction: column;
      input[type="text"],
      input[type="email"],
      input[type="password"],
      input[type="username"] {
        margin-bottom: 5px;
        width: 440px;
        height: 50px;
        padding: 10px;
        background-color: $form-color;
        border: 1px solid ($form-color, 10%);
        color: $text-color;
        border-radius: 5px;
        font-size: 16px;
        border: none;
      }
      small {
        margin-top: 5px;
      }
    }
    &.checkbox-group {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      input[type="checkbox"] {
        margin-right: 10px;
        width: 30px;
        height: 30px;
      }
      label {
        margin: 0;
      }
    }
  }

  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="username"] {
    width: 100%;
    padding: 10px;
    background-color: $form-color;
    border: 1px solid ($form-color, 10%);
    color: $text-color;
    border-radius: 5px;
    font-size: 16px;
    border: none;
  }

  input[type="checkbox"] {
    margin-right: 10px;
  }

  .error {
    color: #ff4444;
    font-size: 12px;
    margin-top: 5px;
  }

  a {
    color: $links-color;
    text-decoration: none;
    font-size: 14px;
  }
}

.signup-title {
  position: absolute;
  top: 0; /* Текст над картинкой */
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  z-index: 3;
  width: 100%;

  h1 {
    font-family: "Circe Regular", sans-serif;
    font-size: 46pt;
    color: $text-color;
    text-transform: uppercase;
    margin: 0;
    font-style: normal;
  }

  h2 {
    font-family: "Circe Regular", sans-serif;
    font-size: 24pt;
    color: $text-color;
    margin: 0;
    font-style: normal;
  }
}

p {
  font-family: "Circe Regular", sans-serif;
  font-size: 18pt;
  color: $text-color;
  margin: 0;
  font-style: normal;
}

.menu {
  font-family: "Circe Regular", sans-serif;
  font-size: 16pt;
  color: $text-color;
  margin: 0;
  font-style: normal;
}

.placeholders {
  font-family: "Circe Regular", sans-serif;
  font-size: 18pt;
  margin: 0;
  text-transform: lowercase;
  color: #888888;
  font-style: normal;
}

.hints {
  font-family: "Circe Regular", sans-serif;
  font-size: 18pt;
  margin: 0;
  color: #888888;
  font-style: normal;
}