 @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

:root {
  --color-black-black-two: #1F1F1F;
  --neutral-light: rgba(168, 168, 169, 1);
  --text-placeholder: #A8A8A9;
  --text-link: #0EB;
  --neutral-lighter: rgba(220, 223, 227, 1);
  --thin-lines: rgba(122, 122, 122, 1);
  --accent-color: #6DE8CA;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

body {
  background-color: var(--color-black-black-two);
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

.font-circe {
  font-family: 'Circe', 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

